@import "./config.scss";

#container-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 55px;
  background: $lightGreyColor;
  border-radius: 12px;
  padding: 10px;
  margin-top: 10px;

  img {
    width: 18px;
    margin-right: 15px;
  }

  div {
    p {
      margin: 0;
      color: $darkGreyColor;
      font-size: 15px;
      font-weight: bold;

      &.concluido {
        text-decoration: line-through;
      }
    }

    span {
      color: $darkGreyColor;
      font-size: 14px;
      font-weight: 400;
    }
  }

  @media screen and (min-width: 992px) {
    height: 70px;
    padding: 20px;

    img {
      width: 20px;
    }

    &.ativo {
      cursor: pointer;

      &:hover {
        border: 1px solid $primaryColor;
        div {
          p {
            color: $primaryColor;
          }

          span {
            color: $primaryColor;
          }
        }
      }
    }
  }
}
